node_modules/
.DS_Store
.env
notes/026-remove-duplicates-from-sorted-array.md
notes/027-remove-element.md
notes/242-valid-anagram.md
notes/217-contains-duplicate.md
notes/cheat-sheet-methods.md
automation/
visualizer.html
